input{
    width:30rem;
    height:2rem;
    margin-top:0.5rem;
    padding:1rem;
    box-shadow: 1.25px 2.5px 2.5px 0px rgb(0, 0, 0, 0.2);
    padding-left: 0;
}
#textoid{
    width:30rem;
    height:15rem;
    box-shadow: 2.5px 5px 5px 0px rgb(0, 0, 0, 0.2);
}
.formp{
    margin-top: 2rem;
}

button{
    margin-top: 2rem;
    background-color: #25c1e0;
    padding-left:8rem;
    padding-right:14rem;
    height:3rem;
    font-size:2rem;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    color:white;
    transition: 0.4s;
}
button:hover{
    background-color: white;
    color:#25c1e0;
}

h2{
    margin-top:5rem;
    font-size: 16px;
    background-color: #25c1e0;
    padding:2rem;
    width:100%;
    box-shadow: 2.5px 5px 5px 0px rgb(0, 0, 0, 0.3);
}

@media screen and (max-width: 460px){
    input{
        width:22.5rem;
    }
    #textoid{
        width:22.5rem;
    }
    button{
        width:22.5rem;
        padding-left:4rem;
        padding-right:9rem;
    }
}
@media screen and (max-width: 375px){
    input{
        width:20rem;
    }
    #textoid{
        width:20rem;
    }
    button{
        width:20rem;
        padding-left:3rem;
        padding-right:7rem;
    }
}
@media screen and (max-width: 320px){
    input{
        width:19rem;
    }
    #textoid{
        width:19rem;
    }
    button{
        width:19rem;
    }
}